GROQ_API_KEY=
PINECONE_API_KEY=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
ANTHROPIC_API_KEY=
# LangSmith (opcional pero recomendado para esta notebook)
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=
LANGCHAIN_PROJECT=
