PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX=pln3-index
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
OPENAI_API_KEY=your_openai_api_key_here
EMBED_MODEL=sentence-transformers/all-MiniLM-L6-v2
